[Unit]
Description = node exporter Service

[Service]
ExecStart=/etc/systemd/system/node_exporter
SyslogIdentifier=prometheus

[Install]
WantedBy=multi-user.target